body
{
  background-color: #F6F0E0;
  background-image: url('http://i1081.photobucket.com/albums/j359/shefalimusic/cabbyclosed.jpg');
  background-size: 530px 640px;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  font-family: 'Headland One', serif;
}


h1
{
  margin-top: 30px;
  font-family: 'Headland One', serif;
  font-size: 45px;
  background-color: #F6F0E0;
  border: 1px dashed black;
  border-radius: 5px;
  width: 325px;

}

.nav-bar
{
  list-style: none;
}

.nav-bar li
{
  display: inline-block;
}

#favorites
{
  color: red;
}

.button
{
  color: white;
  background-color: #DA6E54;
  border: none;
}

.button:hover
{
  background-color: black;
}
.button.success:hover
{
  background-color: #DA6E54;
}

.button.success
{
  background-color: black;
  border: none;
}

a
{
  color: black;
}

label
{
  font-size: 18px;
  color: black;
}

.all-cocktails a
{
  color: black;
  font-family: 'Headland One', serif;
}
.all-cocktails a:hover
{
  color: #E78168;
}

.cocktail h3
{
  color: black;
  font-family: 'Headland One', serif;
}

.cocktail h5
{
  font-family: 'Headland One', serif;
}

.cocktail
{
  background-color: white;
  width: 200px;
  border-radius: 10px;
}

.footer
{
position: fixed; bottom: 0;
background-color: black;
width: 100%;
height: 40px;
}

#favoritesbox
{
  width: 640px;
  height: 860px;
  background-image: url('http://i1081.photobucket.com/albums/j359/shefalimusic/cabbyopen.jpg');
  background-size: 550px 760px;
  background-repeat:no-repeat;
  margin-left: 210px;
  margin-bottom: 50px;
  font-size: 20px;
  padding-top: 100px;
  padding-left: 60px;
  color: white;
  font-family: 'Headland One', serif;
}

#favoritesbox h3
{
  color: white;
  font-family: 'Headland One', serif;

}

#buddies
{
  color: white;
  padding-left: 300px;
  font-size: 18px;
  font-style: strong;
  padding-top: 40px;
  width: 200px;
}